/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*portfolio code*/

:root {
    --white: #FFFFFF;
    --teal: #00A388;
    --blue: #497790;
    --pink: #DB7169;
    --yellow: #FFFF89;
}

* {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    color: var(--white);
    text-decoration: none;
    letter-spacing: .5px;
    line-height: 26px;
}

h2,
h3,
h4 {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    color: var(--yellow);
    font-weight: bolder;
    font-size: 20px;
    line-height: 34px;
    margin: 5px;
}

.box-one,
.box-two,
.box-three {
    margin: 15px 30px;
    padding: 25px;
}

.box-one p,
.box-one h2,
.box-two h2,
.box-three h2,
.box-one h3,
.box-two h3,
.box-three h3,
.box-one h4,
.box-two h4,
.box-three h4,
.box-two p,
.box-three p {
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*header*/

.header p,
.header a {
    color: var(--blue);
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin: 10px;
    line-height: 20px;
}

h1 {
    font-weight: bolder;
    color: var(--blue);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 32px;
    line-height: 42px;
    margin: 5px;
}

.header {
    margin: 30px 60px 0;
    width: fit-content;
}

.header .contact-container {
    display: flex;
}


/*project-container*/

.image-and-link-container a {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.project-links-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

img {
    margin: auto;
    width: 260px;
    position: absolute;
    bottom: 30px;
}

img:hover {
    width: 99%;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid var(--blue);
}

#bioContainer {
    display: none;
}

#bioContainer,
#bioContainer-mobile,
#recipeContainer {
    background-color: var(--teal);
}

#skillsContainer span {
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
}

#skillsContainer,
#userDirectoryContainer {
    background-color: var(--blue);
}

#CGCContainer,
#IPAContainer {
    background-color: var(--pink);
}

.content {
    font-size: 14px;
}

#recipeContainer,
#CGCContainer,
#IPAContainer,
#userDirectoryContainer {
    position: relative;
    padding-bottom: 225px;
}


/*footer*/

footer {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin: auto;
    width: 80%;
}

footer .contact-container {
    display: flex;
}

footer address {
    justify-content: space-between;
    margin: auto;
    width: fit-content;
}

footer a {
    font-size: 16px;
    color: var(--blue);
}

a {
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    letter-spacing: 0px;
}

@media screen and (min-width:400px) {
    .box-one,
    .box-two,
    .box-three {
        margin: 15px 60px;
        padding: 25px;
    }
}

@media screen and (min-width:700px) {
    main {
        margin: 5px auto;
        width: 700px;
    }
    .box-one,
    .box-two,
    .box-three {
        margin: 15px;
        padding: 25px;
        width: 80%;
    }
    /*project containers*/
    #bioContainer-mobile {
        display: none;
    }
    #bioContainer {
        display: block;
    }
    #column-two {
        display: flex;
        width: 100%;
    }
    .box-one p,
    .box-one h3,
    .box-one h2,
    .box-one a,
    .box-two p,
    .box-two h3,
    .box-two h2,
    .box-two a {
        padding: 0;
        margin: 20px;
    }
    .image-and-link-container {
        display: flex;
    }
    .image-and-link-container a {
        margin: 0 10px;
    }
    h2,
    h3,
    h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .box-three h4 {
        margin-bottom: 20px;
    }
    #skillsContainer p {
        width: fit-content;
        font-size: 16px;
    }
    #column-three {
        display: flex;
        flex-direction: column;
    }
    .project-container {
        display: flex;
    }
    #reverse {
        flex-direction: row-reverse;
    }
    .box-two {
        width: 55%;
    }
    .skillsContainer {
        width: 25%;
    }
    .bio-and-game-container {
        width: 75%;
    }
    /*header*/
    .header .contact-container {
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
    }
    .header {
        display: flex;
        height: fit-content;
        width: 550px;
        align-items: flex-end;
    }
    .header p {
        margin-left: 30px;
    }
    h1 {
        font-size: 38px;
        margin: 0;
        width: 200px;
    }
    /*footer*/
    footer {
        margin: auto;
        width: 60%;
    }
}

@media screen and (min-width:1024px) {
    .box-one {
        width: 90%;
    }
    .box-three h4 {
        margin: 5px;
        padding: 10px;
    }
    h2,
    h3,
    h4 {
        font-size: 40px;
    }
    main {
        margin: 5px auto;
        width: 1000px;
    }
    .box-two {
        width: 60%;
    }
    #column-one {
        position: relative;
        left: 0px;
        top: 35px;
    }
    #column-two {
        margin-top: -200px;
    }
    /*projects container*/
    #skillsContainer {
        left: 0px;
        top: 235px;
        height: 580px;
        position: relative;
    }
    #skillsContainer span {
        font-size: 18px;
    }
    /*header*/
    .header {
        margin: 0;
        flex-direction: column;
        width: fit-content;
        align-items: flex-start;
    }
    .header p {
        margin: 0px 0px 10px 20px;
        width: 85%;
        font-size: 18px;
        line-height: 25px;
    }
    .header .contact-container {
        font-size: 18px;
        width: fit-content;
        margin: 0 10px auto;
    }
    h1 {
        margin: 10px 0px 10px 20px;
        justify-content: center;
        font-size: 46px;
        line-height: 48px;
    }
}