/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*portfolio code*/

:root {
    --white: #FFFFFF;
    --teal: #00A388;
    --blue: #497790;
    --pink: #DB7169;
    --yellow: #FFFF89;
}

* {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 26px;
}

a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    color: var(--yellow);
    font-weight: bolder;
    font-size: 28px;
    line-height: 34px;
    margin: 5px;
}

header p,
header a {
    color: var(--blue);
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    margin: 10px;
    line-height: 20px;
}

h1 {
    color: var(--blue);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 38px;
    line-height: 42px;
}

header {
    margin: 30px 60px 0;
    width: fit-content;
}

header .contactContainer {
    display: flex;
}

footer {
    margin: auto;
    width: 80%;
}

footer .contactContainer {
    display: flex;
}

footer address {
    justify-content: space-between;
    margin: auto;
    width: fit-content;
}

footer a {
    font-size: 22px;
    color: var(--blue);
}

.box1,
.box2,
.box3 {
    margin: 15px 30px;
    padding: 25px;
}

.box1 *,
.box2 *,
.box3 * {
    padding: 15px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bioContainer,
#userDirectoryContainer {
    background-color: var(--teal);
}

#bioContainer {
    font-weight: bold;
}

#skillsContainer span {
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
}

#skillsContainer,
#IPAContainer {
    background-color: var(--blue);
}

#recipeContainer {
    background-color: var(--pink);
}

@media screen and (min-width:400px) {
    .box1,
    .box2,
    .box3 {
        margin: 15px 60px;
        padding: 25px;
    }
}

@media screen and (min-width:700px) {
    #mainContainer {
        margin: 5px auto;
        width: 700px;
    }
    .box1,
    .box2,
    .box3 {
        margin: 15px 30px;
        padding: 25px;
        width: 80%;
    }
    header .contactContainer {
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
    }
    header {
        display: flex;
        height: fit-content;
        width: 550px;
        align-items: flex-end;
    }
    header p {
        margin-left: 30px;
    }
    footer {
        margin: auto;
        width: 60%;
    }
    h1 {
        font-size: 38px;
        margin: 0;
        width: 200px;
    }
    .box1 p,
    .box1 h3,
    .box1 h2,
    .box1 a,
    .box2 p,
    .box2 h3,
    .box2 h2,
    .box2 a {
        padding: 0;
        margin: 20px;
    }
    h2,
    h3,
    h4 {
        font-size: 38px;
        line-height: 40px;
    }
    .box3 h4 {
        margin-bottom: 20px;
    }
    #skillsContainer {
        padding: 18px;
        position: relative;
        top: -445px;
        left: 0;
        width: 150px;
    }
    #skillsContainer p {
        width: fit-content;
    }
    #bioContainer {
        position: relative;
        top: 25px;
        left: 220px;
        width: 55%;
    }
    #recipeContainer {
        position: relative;
        left: 220px;
        top: -680px;
        width: 55%;
    }
    #userDirectoryContainer {
        position: relative;
        left: 0px;
        top: -655px;
        width: 55%;
    }
    #IPAContainer {
        position: relative;
        right: -220px;
        top: -630px;
        width: 55%;
    }
}

@media screen and (min-width:1024px) {
    h2,
    h3,
    h4 {
        font-size: 44px;
    }
    #mainContainer {
        margin: 0 auto;
        width: 750px;
    }
    ​ .section {
        display: inline-block;
        float: left;
        width: 400px;
        margin: 15px;
    }
    ​ .shortSection {
        display: inline-block;
        float: left;
        width: 190px;
        margin: 15px;
    }
    #skillsContainer {
        left: 30px;
        top: -287px;
        width: 25%;
        height: 508px;
    }
    #skillsContainer span {
        font-size: 20px;
    }
    #bioContainer {
        position: relative;
        left: 350px;
        top: -160px;
        width: 50%;
    }
    #recipeContainer {
        position: relative;
        left: 350px;
        width: 50%;
        top: -705px;
    }
    #userDirectoryContainer {
        float: left;
        clear: both;
    }
    #userDirectoryContainer * {
        margin-left: 5px;
    }
    #IPAContainer {
        float: right;
        clear: both;
    }
    header {
        padding: 5px;
        position: relative;
        top: 115px;
        left: 20px;
        align-items: flex-start;
        flex-direction: column;
        float: left;
        width: 210px;
        margin: 15px;
    }
    ​ .name {
        width: 100px;
    }
    header p {
        margin: 10px 0px 10px 10px;
    }
    header .contactContainer {
        margin: 25px 0 0 0;
    }
    h1 {
        margin: 10px;
        justify-content: center;
        font-size: 52px;
        line-height: 55px;
    }
    ​ ​ address {
        float: left;
        margin-right: 10px;
        width: 60px;
    }
    footer {
        display: inline-block;
        width: 100%;
    }
    footer .contactContainer {
        margin: 0 auto;
        width: 300px;
    }
}