* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color);
    font-weight: bold;
    text-shadow: .25px .5px rgb(77, 48, 11);
    font-family: 'verdana';
}

:root {
    --color: black;
}

body {
    background: url('/images/city-behind-greenery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    line-height: 30px;
}

main {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

a {
    color: var(--color);
    cursor: pointer;
}

a:hover {
    text-shadow: 1px 1px rgb(29, 5, 29);
}

img {
    height: 200px;
    border-radius: 2px;
}


/*header*/

#header {
    text-align: center;
    height: 125px;
    width: 100%;
    padding: 10px;
    /* position: sticky;
    top: 0; */
    background-color: rgb(28, 45, 226, .85);
    border-radius: 8px;
}

h1 {
    color: rbg(29, 5, 29);
    font-size: 40px;
}

#headerImg {
    border-radius: 150px;
    height: 100px;
    display: none;
    /*if display: none; is taken off, header height:225px;*/
}


/*contact*/

#contactContainer {
    background-color: rgb(128, 128, 128, .6);
    text-align: center;
    padding: 15px;
    width: fit-content;
    margin: 30px auto 30px auto;
    border-radius: 8px;
}

.contacts {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.contact {
    text-align: left;
    display: flex;
    align-items: center;
}

#githubIcon,
#outlookIcon {
    height: 16px;
}

.icon {
    height: 40px;
    border-radius: 3px;
    margin: 5px;
}


/*bio*/

#bioContainer {
    background-color: rgba(28, 44, 226, 0.8);
    width: 300px;
    margin: 30px auto 30px auto;
    padding: 15px;
    border-radius: 8px;
}

#iconContainer {
    margin: auto;
    width: fit-content;
}


/*projects*/

#projectsContainer {
    background-color: rgb(128, 128, 128, .7);
    width: 300px;
    margin: 30px auto 30px auto;
    padding: 15px;
    border-radius: 8px;
}

.verticalLine {
    padding: 0;
    margin: 0;
}

h2,
h3 {
    margin-bottom: 0;
}

@media screen and (min-width:750px) {
    main {
        display: flex;
        justify-content: space-around;
    }
    #projectsContainer {
        flex: 4;
        margin: 40px 20px 40px 20px;
    }
    #columnContainer {
        flex: 2;
        margin: 20px;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        margin-right: 10px;
        width: 100%;
        justify-content: space-around;
    }
    #headerImg {
        margin: 5px;
        padding: 5px;
        height: 130px;
        display: block;
    }
    h1 {
        padding: 10px;
        font-size: 50px;
    }
    #contactContainer {
        width: 300px;
    }
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 60px;
        margin-right: 50px;
    }
    #headerImg {
        height: 130px;
        display: block;
    }
    header {
        height: 175px;
    }
}