* {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .25px .5px var(--dark);
    font-family: 'verdana';
}

:root {
    --white: rgb(255, 255, 255);
    --light: rgb(30, 182, 151);
    --medium: rgb(4, 108, 154);
    --dark: rgb(4, 108, 154);
    --red: rgb(180, 63, 19);
    --grey: rgb(165, 165, 165);
    --whiteOp: rgb(255, 255, 255, .7);
    --lightOp: rgb(30, 182, 151, .7);
    --mediumOp: rgb(4, 108, 154, .7);
    --darkOp: rgb(4, 108, 154, .7);
    --redOp: rgb(180, 63, 19, .7);
    --greyOp: rgb(165, 165, 165, .7);
}

body {
    background-image: url('images/red-and-blue-shoreline-iphone-screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    line-height: 30px;
    color: var(--medium);
    text-shadow: 3px 1px#00CFFF;
}

.verticalLine {
    padding: 0;
    margin: 0;
    color: #B43F13;
    text-align: center;
}

main {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

a {
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
}

a:hover {
    text-shadow: 1px 1px rgb(29, 5, 29);
}

img {
    height: 200px;
    border-radius: 2px;
}

p {
    font-size: 18px;
}


/*header*/

#header {
    text-align: center;
    height: 125px;
    width: 100%;
    padding: 10px;
    /* position: sticky;
    top: 0; */
    background-color: var(--darkOp);
    border-radius: 8px;
}

h1 {
    text-shadow: 2px 1px var(--dark);
    color: var(--white);
    font-size: 40px;
}

#headerImg {
    border-radius: 150px;
    height: 100px;
    display: none;
    /*if display: none; is taken off, header height:225px;*/
}


/*contact*/

#contactContainer {
    background-color: var(--whiteOp);
    text-align: center;
    padding: 15px;
    width: fit-content;
    margin: 30px auto 30px auto;
    border-radius: 8px;
    color: var(--dark);
}

.contacts {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.contactContainer,
a {
    color: var(--dark);
    text-align: left;
    display: flex;
    align-items: center;
}

#githubIcon,
#outlookIcon {
    height: 16px;
    text-align: center;
}

.icon {
    height: 40px;
    border-radius: 3px;
    margin: 5px;
}


/*bio*/

#bioContainer {
    background-color: var(--greyOp);
    width: 300px;
    margin: 30px auto 30px auto;
    padding: 30px;
    border-radius: 8px;
    color: var(--white);
}

#bio {
    text-align: left;
    text-indent: 20px;
}

#iconContainer {
    margin: auto;
    width: fit-content;
}


/*projects*/

#projectsContainer {
    background-color: rgb(14, 156, 170, .7);
    width: 300px;
    margin: 30px auto 30px auto;
    padding: 30px;
    border-radius: 8px;
    color: var(--white);
}

.projectLinks {
    color: var(--white);
    text-align: center;
}

.verticalLine {
    padding: 0;
    margin: 0;
    color: #B43F13;
}

h2 {
    margin-bottom: 0;
    font-size: 26px;
}

h3 {
    font-size: 32px;
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    color: var(--dark);
    text-shadow: .2px .2px var(--grey);
    margin-bottom: 0;
}

h5 {
    margin-bottom: 0;
    font-size: 20px;
}

@media screen and (min-width:750px) {
    main {
        display: flex;
        justify-content: space-around;
    }
    #projectsContainer {
        flex: 4;
        margin: 40px 20px 40px 20px;
    }
    #columnContainer {
        flex: 2;
        margin: 20px;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        margin-right: 10px;
        width: 100%;
        justify-content: space-around;
    }
    #headerImg {
        margin: 5px;
        padding: 5px;
        height: 130px;
        display: block;
    }
    h1 {
        padding: 10px;
        font-size: 50px;
    }
    #contactContainer {
        width: 300px;
    }
    .liveImage {
        height: 350px;
    }
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 60px;
        margin-right: 50px;
    }
    #headerImg {
        height: 130px;
        display: block;
    }
    header {
        height: 175px;
    }
    .liveImage {
        height: 500px;
    }
}